ScrollPane {
    -fx-padding: 20;
    -fx-background-color: transparent;
}

#configs {
    -fx-background-color: #353535;
}

#path {
    -fx-spacing: 20;
}

#path > Label {
    -fx-font-size: 16;
    -fx-text-fill: #f7f7f7;
}

#path > HBox {
    -fx-spacing: 20;
}

#path > HBox > TextField {
    -fx-border-radius: 3;
    -fx-min-width: 200;
    -fx-min-height: 40;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #262626;
    -fx-text-fill: #f7f7f7;
}

#path > HBox > TextField:focused {
    -fx-border-color: #16529b;
    -fx-focus-color: #16529b;
    -fx-faint-focus-color: transparent;
}

#path > HBox > Button {
    -fx-border-radius: 3;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-border-width: 1;
    -fx-border-color: #262626;
    -fx-text-fill: #f7f7f7;
    -fx-background-color: linear-gradient(to bottom, #353535, #333333);
}
